{% include 'header.html' %}
        <div>
            <p>Good Job {{ user.user }}! You guessed the correct definition for {{ real_def.word }}!</p>    
            <p> Your current score is {{ current_score }}.</p>
            <p>You can get more points by wordfibbing someone else.</p>
        </div>
        <div>
            <p>Create a definition for the word,</p>
            <h2>{{ rand_word }}:</h2>
            <form action="{% url 'wordfib:add_def' %}" method="post">
            {% csrf_token %}
                <input type="hidden" value="{{ user.user }}" name="user"/>
                <input type="hidden" value="{{ rand_word }}" name="word"/>
                <textarea  id="inputHelpBlock" class="form-control" rows="4" cols="50" name="definition" autofocus placeholder="Enter definition here"></textarea>
                <span id="helpBlock" class="help-block"><ol>
                    <li>You can make an obviously fake, yet incredibly humorous definition, but realize that this approach should be used as sparingly as salt and sarcasm.</li>
                    <li>A dry and convincing definition will net you good points, but may be boring.</li>
                    <li>A subtle combination of #1 and #2 will entertain but still win votes!</li></span>
                </br>
                <p>
                    <input type="submit" class="btn btn-primary btn-lg" value="Enter Definition">
                </p>
            </form>
        </div>
    </div>
    </div>
    </body>
</html>
