<html>
    <head>
        <title>Longoria Guestbook</title>
    </head>
    <body>
        <div>
            <p>Good Job {{ user.user }}! You guessed the correct definition for {{ real_def.word }}!</p>    
            <p> Your current score is {{ current_score }}.</p>
            <p>You can get more points by wordfibbing someone else.</p>
        </div>
        <div>
            <p>Create a definition for the word,</p>
            <p>{{ rand_word }}:</p>
            <form action="/add_def/" method="post">
            {% csrf_token %}
                <input type="hidden" value="{{ user.user }}" name="user"/>
                <input type="hidden" value="{{ rand_word }}" name="word"/>
                <textarea  rows="4" cols="50" name="definition" autofocus placeholder="Enter definition here"></textarea>
                <input type="submit" value="Enter Definition">
            </form>
        </div>
    </body>
</html>
