{% include 'header.html' %}
{% load check_type %}
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"><span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
    <div class="page-header">
        <h2>{{ rand_word }}:</h2>
    </div>
    <div>
        <form action="{% url 'wordfib:vote' %}" method="post">
        <fieldset>
        {% csrf_token %}
            <input type="hidden" value="{{ rand_word }}" name="word"/>
            <ul class="list-group">
            {% for def in def_list %}
                <li class="list-group-item">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ def | to_class_name }}-{{ def.id }}"/>
                    <label for="choice{{ forloop.counter }}">{{ def.definition }}</label>
                </li></br>
            {% endfor %}
            </ul>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"><span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                <input type="text" id="inputHelpBlock" style="text-align:center" class="form-control" name="username" placeholder="lfirst"/>
                <span id="helpBlock" class="help-block">Use the same username every time. Simply your last initial immediately followed by your first name, e.g. "wgeorge"</span>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-primary btn-lg" value="Submit Guess"/>
            </div>
        </fieldset>
        </form>
    </div>
</div>
</div>
</body>
</html>
