<html>
<head>
    <title>Longoria Guestbook</title>
</head>
<body>
    <h1>Wordfib</h1>
    <p>Thanks for submitting your definition!</p>
    <p>You can play again if you like!</p>
    <p>Just don't vote on your own fake definitions if encountered!!!</p>
        {% csrf_token %}
    <div>
        <p>{{ rand_word }}:</p>
    </div>
    <div>
        <form action="/vote/" method="post">
        <fieldset>
        {% csrf_token %}
            <ul>
            {% for def in def_list %}
                <li>
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ def.id }}"/>
                    <label for="choice{{ forloop.counter }}">{{ def.definition }}</label>
                </li>
            {% endfor %}
            </ul>
            <input type="submit" value="Submit Guess"/>
            <input type="text" name="username" placeholder="Last Initial, First Name">Example: ltim</input>
        </fieldset>
        </form>
    </div>
    <div>
        <a href="/scoreboard/">Check out the Scoreboard</a>
    </div>
</body>

</html>

