{% include 'header.html' %}
        {% if pop_again %}
        <div>
                <p>{{ thanks }}</p> 
                <p>You may define another if you like!</p>
        </div>
        {% endif %}
        <div>
            <p>Thanks for helping me populate some false definitions for this Wordfib game. The point is to be convincing and to fool others into voting on a false definition. (a minimal version of a <a href="http://en.wikipedia.org/wiki/Balderdash">Balderdash</a> clone)</p>
            <p>This game is not meant to stay online, it actually is intended for my local home network only, this is just testing, and will be taken down in a short amount of time.</p>
            <p>You can make an obviously fake, yet incredibly humorous definition, but realize that this approach should be used as sparingly as salt and sarcasm, lest the real definition be too obvious.</p>
            <p>A dry and convincing definition will cause confusion and create a greater challenge, but may be boring.</p>
            <p>A subtle combination of the two will entertain but still create a head-scratcher.</p>
        </br>
        </div>
        <div>
            <h2>{{ rand_word }}:</h2>
            </br>
            <fieldset>
            <form action="{% url 'wordfib:from_add' %}" method="post">
            {% csrf_token %}
                <input type="hidden" value="{{ rand_word }}" name="word"/>
                <textarea id="inputHelpBlock" class="form-control"  rows="4" cols="50" name="definition" placeholder="Enter definition here"></textarea>
                <span id="helpBlock" class="help-block"><ol>
                    <p>Commas, apostrophes, and periods are the only punctuation allowed.</p></span>
                </br>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                <input type="text" id="inputHelpBlock" style="text-align:center" class="form-control" name="user" placeholder="lfirst"/>
                <span id="helpBlock" class="help-block">Use the same username every time. Simply your last initial immediately followed by your first name, e.g. "wgeorge"</span>
                </div>
            </div>
                <div class="text-center">
                    <!--<input type="hidden" name="user" value="anonymous"/>-->
                    <p><input type="submit" class="btn btn-primary btn-lg" value="Enter Definition"></p>
                </div>
            </form>
            </fieldset>
        </div>
    </div>
    </div>
    </body>
</html>
