@font-face
{
    font-family: MyUnderwood;
    src: url(/static/bootstrap/fonts/MyUnderwood.ttf)
}
body 
{
    font-family: MyUnderwood;
    background-color: #e7dfcc;
}
#score-table .header-center
{ 
    text-align: center; 
}

.jumbotron
{
    color: #674172;
    background-color: #F8FCE4; 
}

.btn-primary
{
    background-color: #674172;
    outline: 0 none;
    padding: none;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active
{
    background: #765480;
    box-shadow: none;
    outline: 0 none;
}

.btn-primary.raised:active, .btn-primary.raised.active, .btn-primary.raised
{
    color: #AA95B0;
    outline: 0 none;
}

a
{
    color: #A48DAA;
}

a:hover, a:active
{
    color: #674172;
}

.list-group li
{
}

.form-control:focus {
  border-color: #957A9C;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(194, 179, 199, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(194, 179, 199, .6);
}
